.option {
    width: 100%;
    height: 100%;
    padding: 1em;

    background-color: var(--color-secondary);

    border-radius: var(--border-radius-small);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        max-width: 400px;    
    }

    h2 {
        margin-top: 1em;
    }
}

.option:hover {
    transform: translateY(-2%);
    transition: all 0.5s;

    cursor: pointer;
}