<div class="container">
    <div class="column-1">
        <div>
            <h2>{{ data?.title }}</h2>
            <p>{{ data?.summarize }}</p>
        </div>

        <app-lesson-description 
            [data]="quizData" 
            [activityDetails]="{ 
                description: data?.explanation || '',
                resources: data?.resources || [''],
            }"
            />

    </div>

    <div class="column-2">
        <div class="lessons">
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.asas</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
        </div>

        <app-ranking />
    </div>
</div>