<div class="container">
    <div class="column-1">
        <div>
            <h2>Lição 11: Lorem ipsum dolor sit.</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolore corrupti tempore sapiente
                architecto magnam!</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et molestiae animi modi, odit dolorum ullam rem
                quas minima quidem repellat magni eum debitis pariatur non, ab dolorem sapiente nostrum dolor adipisci
                perspiciatis! Explicabo quidem quaerat voluptas quas iusto aspernatur repellendus maxime quibusdam
                error? Soluta enim culpa consequatur adipisci ipsa delectus?</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et molestiae animi modi, odit dicabo quidem
                quaerat voluptas quas iusto aspernatur repellendus maxime quibusdam error? Soluta enim culpa consequatur
                adipisci ipsa delectus?</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis ad recusandae facere in debitis tempora
                delectus cupiditate aliquid minus sequi id nulla necessitatibus, nihil doloremque.</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, alias.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus labore id autem omnis quis, quasi
                ad aspernatur quidem est fugiat aperiam ut quos? Quod, ab?</p>
        </div>

        <app-lesson-description mode="student" />

        <app-lesson-link />
        <app-lesson-link />
    </div>

    <div class="column-2">
        <div class="lessons">
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.asas</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
            <div>
                <div>
                    <div class="image"></div>
                    <h4>Lesson 10: Lorem ipsum dolor sit.</h4>
                </div>

                <div>
                    <span>Lorem ipsum dolor sit, amet.</span>
                    <app-lesson-score />
                </div>
            </div>
        </div>

        <app-ranking />
    </div>
</div>