div {
    display: block;

    width: 4rem;
    height: .5rem;

    border-radius: var(--border-radius-small);
    
    cursor: pointer;
}

.contains-number {
    display: block;

    padding: 0;
    height: 1.2rem;

    font-family: "Manrope-Bold";

    text-align: center;
    line-height: 1;

    color: var(--colot-text);
}

.white {
    background-color: var(--color-white);
}

.default {
    background-color: var(--color-primary);
}