<div class="container">
    <div class="row-1">
        <div class="statistics">
            <div>
                <h4>12</h4>
                <p>Trilhas completadas</p>
            </div>
            <div>
                <h4>12</h4>
                <p>Trilhas completadas</p>
            </div>
        </div>

        <div class="main-info">
            <div class="photo"></div>
            <h2>Marcos Segantine</h2>
        </div>

        <div class="statistics">
            <div>
                <h4>12</h4>
                <p>Trilhas completadas</p>
            </div>
            <div>
                <h4>12</h4>
                <p>Trilhas completadas</p>
            </div>
        </div>
    </div>

    <div class="row-2">
        <div class="title">
            <img src="/assets/icons/trophy.svg" alt="">
            <h2>Medalhas</h2>
        </div>

        <div class="content">
            <div class="medal">
                <img src="/assets/icons/trophy.svg" width="70" alt="">
                <p>Piloto</p>
            </div>

            <div class="medal">
                <img src="/assets/icons/trophy.svg" width="70" alt="">
                <p>Piloto</p>
            </div>
            <div class="medal">
                <img src="/assets/icons/trophy.svg" width="70" alt="">
                <p>Piloto</p>
            </div>
            <div class="medal">
                <img src="/assets/icons/trophy.svg" width="70" alt="">
                <p>Piloto</p>
            </div>
            <div class="medal">
                <img src="/assets/icons/trophy.svg" width="70" alt="">
                <p>Piloto</p>
            </div>
            <div class="medal">
                <img src="/assets/icons/trophy.svg" width="70" alt="">
                <p>Piloto</p>
            </div>
            <div class="medal">
                <img src="/assets/icons/trophy.svg" width="70" alt="">
                <p>Piloto</p>
            </div>
            <div class="medal">
                <img src="/assets/icons/trophy.svg" width="70" alt="">
                <p>Piloto</p>
            </div>
        </div>
    </div>

    <div class="row-3">
        <div class="title">
            <img src="/assets/icons/trophy.svg" alt="">
            <h2>Certificados</h2>
        </div>

        <div class="certificates">
            <div class="certificate"></div>
            <div class="certificate"></div>
            <div class="certificate"></div>
        </div>
    </div>
</div>