<div class="container">
    <div class="question">
        <div class="text">
            <p>{{ data.question }}</p>
        </div>
        
        <span class="timer green-opacity">{{ convertSecondsToMinutes(timer) }}</span>
    </div>

    <div class="alternatives">
        @for (alternative of data.alternatives; track alternative) {
            <p class="alternative" (click)="handleAlternative(data.alternatives.indexOf(alternative))">{{ alternative }}</p>
        }
    </div>

    <app-button text="Confirmar" buttonStyle="disable" width="10rem" (event)="confirmResponse()" />
</div>