<div class="container">
    <div class="question">
        <div class="text">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla aperiam molestias sunt obcaecati asperiores magnam. Voluptatibus ea tempore sequi repudiandae neque recusandae, aut obcaecati eos.</p>
        </div>
        
        <span class="timer green">2:00</span>
    </div>

    <div class="alternatives">
        <p class="alternative">a) Lorem olore, laborum.</p>
        <p class="alternative">b) Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, laborum.</p>
        <p class="alternative">c) Lorem  consectetur adipisicing elit. Dolore, laborum.</p>
        <p class="alternative">d) Lorem ipsumisicing elit. Dolore, laborum.</p>
    </div>

    <app-button text="Confirmar" buttonStyle="selected" width="10rem" />
</div>