button {
    border: none;
    border-radius: var(--border-radius-small);
    
    padding: .5rem 1rem;
    margin: 1rem auto;
    width: 100%;

    display: block;
    
    cursor: pointer;
}

button:hover {
    filter: brightness(1);
}