button {
    border: none;
    border-radius: var(--border-radius-small);
    
    padding: .5rem 1rem;
    margin: 1rem auto;
    width: 100%;

    display: block;
    
    cursor: pointer;
}

.default {
    background-color: var(--color-ternary);
    color: var(--color-white);
}

.selected {
  background-color: var(--color-orange);
}

button:hover {
    filter: brightness(1.1);
}