<footer>
    @if(footerMode === "primary") {
        <nav>
            <ul>
                <li>
                    <a routerLink="/professional-auth" routerLinkActive="active" ariaCurrentWhenActive="page">Professor</a>
                </li>
                <li>
                    <a routerLink="/institutional-auth" routerLinkActive="active" ariaCurrentWhenActive="page">Instituição</a>
                </li>
                <li>
                    <a routerLink="/matrix-auth" routerLinkActive="active" ariaCurrentWhenActive="page">Matriz</a>
                </li>
            </ul>
        </nav>
    }
</footer>