<div class="trail">
    <div class="info">
        <div class="img">

        </div>

        <div>
            <h2>Lorem ipsum dolor sit</h2>
            <span>Até 28 / 05</span>
            <span>Marcos Segantine</span>
        </div>
    </div>

    <div class="statistics">
        <div class="indicators">
            <app-indicator color="red" />
            <app-indicator color="green" />
            <app-indicator color="red" />
            <app-indicator color="green" />
            <app-indicator color="red" />
            <app-indicator color="green" />
            <app-indicator color="green" /> 
            <app-indicator color="green" />
            <app-indicator color="green" />
            <app-indicator color="green" />
            <app-indicator color="green" />
            <app-indicator color="orange" />
            <app-indicator color="orange" />
            <app-indicator color="orange" />
            <app-indicator color="orange" number="5" />
            <app-indicator color="default" />
            <app-indicator color="default" />
            <app-indicator color="default" />
            <app-indicator color="default" />
            <app-indicator color="default" />
            <app-indicator color="default" />
            <app-indicator color="default" />
            <app-indicator color="default" />
            <app-indicator color="default" />
            <app-indicator color="default" />
            <app-indicator color="default" />
        </div>

    </div>

    <div class="statistics-indicator">
        <app-statistic value="80" text="Indice de Acerto" />
        <app-statistic value="55" text="Indice de Acerto" />
        <app-statistic value="23" text="Indice de Acerto" />
        <app-statistic value="100" text="Indice de Acerto" />
    </div>
</div>