<div class="trail" routerLink="lessons" [queryParams]="{ id: data.id }">
    <div class="info">
        <div class="img"></div>

        <a routerLink="lessons">
            <h2>{{ data.name }}</h2>
        </a>
    </div>

    <div class="statistics">
        <div class="indicators">
            @for (statisticColor of statistics; track statisticColor) {
            <app-indicator [color]="statisticColor" />
            }
        </div>

    </div>

    <div class="statistics-indicator">
        <app-statistic value="80" text="Indice de Acerto" />
        <app-statistic value="55" text="Indice de Acerto" />
        <app-statistic value="23" text="Indice de Acerto" />
        <app-statistic value="100" text="Indice de Acerto" />
    </div>
</div>