<div class="container">
    <div class="row-1">
        <app-frequency />

        <app-platform-use />

        <app-students-low-performance />
    </div>

    <div class="row-2">
        <div class="main-chart">
            <div>
                <div>
                    <span class="color-indicator" style="background-color: orange;"></span>
                    <span>Turma 1</span>
                </div>
                <div>
                    <span class="color-indicator" style="background-color: orange;"></span>
                    <span>Turma 2</span>
                </div>
                <div>
                    <span class="color-indicator" style="background-color: orange;"></span>
                    <span>Turma 3</span>
                </div>
                <div>
                    <span class="color-indicator" style="background-color: orange;"></span>
                    <span>Turma 4</span>
                </div>
            </div>

            <canvas id="performance"></canvas>
        </div>
        <app-ranking mode="mode-2" />
    </div>
</div>