.container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    height: 100%;
}

.row-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    width: 100%;

    div {
        background-color: var(--color-ternary);

        border-radius: var(--border-radius-small);

        width: 100%;
        height: 10rem;
    }
}

.row-2 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    width: 100%;

    .main-chart {
        width: 100%;

        background-color: var(--color-ternary);

        border-radius: var(--border-radius-small);
    }

    app-ranking {
        width: 100%;
    }
}

@media screen and (min-width: 767px) {
    .row-1 {
        flex-direction: row;
        gap: 1em;

        div {
            flex-grow: 1;
        }
    }
}

@media screen and (min-width: 1200px) {
    .row-1 {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 0;

        height: 25%;

        div {
            width: 32.7%;
            height: 100%;
            
            flex-grow: 0;
        }
    }

    .row-2 {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;

        height: 75%;
    
        .main-chart {
            width: calc(100% - 33.7%);
        }
    
        app-ranking {
            width: 32.7%;
        }
    }
}