<div class="container">
    <div class="row-1">
        <div>
            <h3>Frequência</h3>
            <canvas id="frequency"></canvas>
        </div>
        <div>
            <h3>Uso da plataforma</h3>
            <div class="activity-indicator">
                <canvas id="activity"></canvas>
                <div>
                    <div>
                        <span style="background-color: #00BA4A;"></span>
                        <p>Uso frequente</p>
                    </div>
                    <div>
                        <span style="background-color: #FFB500;"></span>
                        <p>Uso regular</p>
                    </div>
                    <div>
                        <span style="background-color: #C3331D;"></span>
                        <p>Nunca acessou</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>Alunos com menor desempenho</h3>

            <div class="low-performance">
                <div>
                    <p>Marcos Segantine</p>
                    <p>Turma 1</p>
                </div>
                <div>
                    <p>Marcos Segantine</p>
                    <p>Turma 1</p>
                </div>
                <div>
                    <p>Marcos Segantine</p>
                    <p>Turma 1</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row-2">
        <div class="main-chart">
            <div>
                <div>
                    <span class="color-indicator" style="background-color: orange;"></span>
                    <span>Turma 1</span>
                </div>
                <div>
                    <span class="color-indicator" style="background-color: orange;"></span>
                    <span>Turma 2</span>
                </div>
                <div>
                    <span class="color-indicator" style="background-color: orange;"></span>
                    <span>Turma 3</span>
                </div>
                <div>
                    <span class="color-indicator" style="background-color: orange;"></span>
                    <span>Turma 4</span>
                </div>
            </div>

            <canvas id="performance"></canvas>
        </div>
        <app-ranking mode="mode-2" />
    </div>
</div>