<div class="container">
    <h3>Uso da plataforma</h3>

    <div class="content">
        <canvas id="activity"></canvas>
        <div>
            <div>
                <span style="background-color: #00BA4A;"></span>
                <p>Uso frequente</p>
            </div>
            <div>
                <span style="background-color: #FFB500;"></span>
                <p>Uso regular</p>
            </div>
            <div>
                <span style="background-color: #C3331D;"></span>
                <p>Nunca acessou</p>
            </div>
        </div>
    </div>
</div>