<div class="container">
    <div class="main-info">
        <div class="photo"></div>
        <h1>Marcos Segantine</h1>
        <div class="social-medias">
            <img src="/assets/icons/social-medias/instagram.svg" alt="">
            <img src="/assets/icons/social-medias/github.svg" alt="">
        </div>
    </div>

    <div class="trails">
        <div class="trail">
            <div class="image"></div>
            <div>
                <h3>Lorem, ipsum dolor.</h3>
                <span>Estudantes: 60</span>
            </div>
        </div>
        <div class="trail">
            <div class="image"></div>
            <div>
                <h3>Lorem, ipsum dolor.</h3>
                <span>Estudantes: 60</span>
            </div>
        </div>
        <div class="trail">
            <div class="image"></div>
            <div>
                <h3>Lorem.</h3>
                <span>Estudantes: 60</span>
            </div>
        </div>
        <div class="trail">
            <div class="image"></div>
            <div>
                <h3>Lorem, ipsum dolor.</h3>
                <span>Estudantes: 60</span>
            </div>
        </div>
    </div>
</div>