.container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 100%;
    min-height: 100%;
}

.column-1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
 
    width: 100%;
    padding: 1em;

    background-color: var(--color-secondary);

    border-radius: var(--border-radius-small);

    overflow: scroll;
}

.column-2 {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
        
        height: 100%;
    }
    
    .column-1 {
        width: 70%;
    }
    
    .column-2 {
        display: block;
        
        width: 30%;
    }
}