<div class="container">
    <div class="top">
        <div class="top-student">
            <div class="photo"></div>
            <h2 class="name">Marcos Segantine</h2>
            <p>Teodoro</p>
            <span class="bar silver" style="height: 6.5em;">
                2
                <span>
                    <app-points-icon color="black" />
                    1500
                </span>
            </span>
        </div>

        <div class="top-student">
            <div class="photo"></div>
            <h2 class="name">Marcos Segantine</h2>
            <p>Teodoro</p>
            <span class="bar gold" style="height: 10em;">
                1
                <span>
                    <app-points-icon color="black" />
                    1500
                </span>
            </span>
        </div>

        <div class="top-student">
            <div class="photo"></div>
            <h2 class="name">Marcos Segantine</h2>
            <p>Teodoro</p>
            <span class="bar bronze" style="height: 3.5em;">
                3
                <span>
                    <app-points-icon color="black" />
                    1500
                </span>
            </span>
        </div>
    </div>

    <table class="bottom">
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">
                <app-points-icon color="white" />
                2000
            </td>
            <td class="school">M. Aparecida</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">
                <app-points-icon color="white" />
                2000
            </td>
            <td class="school">M. Aparecida</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">
                <app-points-icon color="white" />
                2000
            </td>
            <td class="school">Teodoro</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">
                <app-points-icon color="white" />
                2000
            </td>
            <td class="school">M. Aparecida</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">
                <app-points-icon color="white" />
                2000
            </td>
            <td class="school">Djalma</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">
                <app-points-icon color="white" />
                2000
            </td>
            <td class="school">M. Aparecida</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">
                <app-points-icon color="white" />
                2000
            </td>
            <td class="school">M. Aparecida</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">
                <app-points-icon color="white" />
                2000
            </td>
            <td class="school">M. Aparecida</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">
                <app-points-icon color="white" />
                2000
            </td>
            <td class="school">Rosemir</td>
        </tr>
    </table>
</div>