<div class="container">
    <div class="top">
        <div class="top-student">
            <div class="photo"></div>
            <h2 class="name">Marcos Segantine</h2>
            <p>Teodoro</p>
            <span class="bar" style="background-color: #E3E4E5; height: 6.5em;">
                2
                <span>1200</span>
            </span>
        </div>

        <div class="top-student">
            <div class="photo"></div>
            <h2 class="name">Marcos Segantine</h2>
            <p>Teodoro</p>
            <span class="bar" style="background-color: #ffbf00; height: 10em;">
                1
                <span>1200</span>
            </span>
        </div>

        <div class="top-student">
            <div class="photo"></div>
            <h2 class="name">Marcos Segantine</h2>
            <p>Teodoro</p>
            <span class="bar" style="background-color: #CD7F32; height: 3.5em;">
                3
                <span>1200</span>
            </span>
        </div>
    </div>

    <table class="bottom">
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">2000</td>
            <td class="school">M. Aparecida</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">2000</td>
            <td class="school">Rosemir</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">2000</td>
            <td class="school">M. Aparecida</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">2000</td>
            <td class="school">Teodoro</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">2000</td>
            <td class="school">Djalma</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">2000</td>
            <td class="school">M. Aparecida</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">2000</td>
            <td class="school">M. Aparecida</td>
        </tr>
        <tr>
            <td>
                <div class="student">
                    <span class="position">4</span>
                    <div class="photo"></div>
                    <h4 class="name">Marcos Segantine</h4>
                </div>
            </td>
            <td class="medals">
                <div class="medal"></div>
                <div class="medal"></div>
            </td>
            <td class="points">2000</td>
            <td class="school">M. Aparecida</td>
        </tr>
    </table>
</div>