.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    min-height: 500px;
    height: 100%;
    width: 100%;
}

app-menu {
    width: 100%;
}

.forms {
    width: 100%;
}

.difficulty,
.schooling {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}

.forms h2 {
    margin: 2rem 0 1rem;
}

.alternatives {
    display: flex;
    flex-direction: column;

    app-button {
        margin-bottom: 2rem;
        width: max-content;
    }

    .list {
        width: max-content;
        margin: .3rem 0;

        overflow: hidden;
        
        font-size: var(--font-size-tiny);
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

span {
    font-family: var(--font-family-medium);
    font-size: var(--font-size-tiny);

    background-color: var(--color-ternary);

    padding: .5em;

    border-radius: var(--border-radius-small);
}

span.selected {
    background-color: var(--color-orange);
    color: var(--color-black);
}

span:hover {
    cursor: pointer;
}

.activity {
    margin-top: 3em;

    flex-direction: column;
    display: flex;
    flex-wrap: wrap;

    width: 100%;

    h3 {
        width: 100%;
    }
}

.buttons {
    display: flex;
    gap: .5em;
    justify-content: center;

    margin: 3em 0;
}

.trails {
    background-color: var(--color-secondary);

    border-radius: var(--border-radius-small);

    padding: 1rem;
    width: 100%;

    h2 {
        margin: 0;
    }

    app-input {
        display: block;

        margin-bottom: 1rem;
        max-width: 650px;
    }

    app-trail {
        display: block;
        max-width: 30%;
    }
}

.alert {
    margin-bottom: 2rem;
}

@media screen and (min-width: 767px) {
    .activity {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        gap: 1rem;

        width: 100%;
    }

    .activity>div {
        width: calc(90% / 3);
    }

    .buttons {
        justify-content: start;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;

        height: calc(100vh - 6rem - 3rem);

        .forms {
            width: calc(70% - .5rem);
        }
        
        .forms:has(.activity) {
            width: 100%;
            
            .activity {
                width: 100%;
            }
        }
    }
}