.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    min-height: 500px;
    height: 100%;
    width: 100%;
}

app-menu {
    width: 100%;
}

.forms {
    width: 100%;
}

.difficulty,
.schooling {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}

.forms h2 {
    margin: 2rem 0 1rem;
}

.list {
    width: max-content;
    margin: .3rem 0;
}

.contains-alternatives {
    width: 100%;

    display: flex;
    align-items: center;
}

.handle-right-response {
    background-color: var(--color-ternary);

    display: block;

    border-radius: none;

    width: 1.5rem;
    height: 1.5rem;
}

.handle-right-response.right-response {
    background-color: var(--color-green);
    border: none;
}

.alternative {
    max-width: 90%;
    padding: .5rem;

    overflow: hidden;

    font-size: var(--font-size-tiny);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.resources,
.alternatives {
    display: flex;
    flex-direction: column;

    app-button {
        width: max-content;
    }
}

.option {
    font-family: var(--font-family-medium);
    font-size: var(--font-size-tiny);

    background-color: var(--color-ternary);

    padding: .5em;

    border-radius: var(--border-radius-small);
}

.option.selected {
    background-color: var(--color-orange);
    color: var(--color-black);
}

span:hover {
    cursor: pointer;
}

.activity {
    margin-top: 3em;

    flex-direction: column;
    display: flex;
    flex-wrap: wrap;

    width: 100%;

    h3 {
        width: 100%;
    }
}

.buttons {
    display: flex;
    gap: .5rem;
    justify-content: center;

    margin: 3rem 0;
}

.trails {
    background-color: var(--color-secondary);

    border-radius: var(--border-radius-small);

    width: 100%;
    padding: 1rem;

    h2 {
        margin: 0;
    }

    app-input {
        display: block;

        margin-bottom: 1rem;
        max-width: 650px;
    }
}

.contains-trails {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    width: 100%;
    height: 100%;

    overflow: hidden;

    app-trail {
        display: block;

        width: 100%;
        height: max-content;
    }
}

.alert {
    margin-bottom: 2rem;
}

@media screen and (min-width: 767px) {
    .activity {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        gap: 1rem;

        width: 100%;
    }

    .activity>div {
        width: calc(90% / 3);
    }

    .contains-trails {
        app-trail {
            width: 45%;
        }
    }

    .buttons {
        justify-content: end;
        margin-right: 5%;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;

        .forms {
            width: 100%;

            .activity {
                width: 100%;
            }
        }
    }

    .contains-trails {
        app-trail {
            width: 30%;
            height: 5rem;
        }
    }
}