.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    min-height: 500px;
    height: 100%;
    width: 100%;
}

app-menu {
    width: 100%;
}

.forms {
    width: 100%;
}

.difficulty,
.schooling {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}

.forms h2 {
    margin: 2rem 0 1rem;
}

span {
    font-family: var(--font-family-medium);
    font-size: var(--font-size-tiny);

    background-color: var(--color-ternary);

    padding: .5em;

    border-radius: var(--border-radius-small);
}

span.selected {
    background-color: var(--color-orange);
    color: var(--color-black);
}

span:hover {
    cursor: pointer;
}

.activity {
    margin-top: 3em;

    flex-direction: column;
    display: flex;
    flex-wrap: wrap;

    width: 100%;

    h3 {
        width: 100%;
    }
}

.buttons {
    display: flex;
    gap: .5em;
    justify-content: center;

    margin: 3em 0;
}

.trails {
    display: none;

    background-color: var(--color-secondary);

    border-radius: var(--border-radius-small);

    padding: 1rem;
}

.alert {
    margin-bottom: 2rem;
}

@media screen and (min-width: 767px) {
    .activity {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        width: 100%;
    }

    .activity>div {
        width: 50%;
    }

    .buttons {
        justify-content: start;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;

        .forms {
            width: calc(70% - .5rem);

            .activity {
                width: 100%;
            }
        }

        .trails {
            width: calc(30% - .5rem);

            h2 {
                text-align: center;
            }
        }
    }

    .activity {
        width: 70%;
    }

    .trails {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}