<div class="content">
    <app-menu [data]="sectionsData" />

    @if (currentSection === "create-trail") {
    <div class="forms">
        <app-input mode="mode-1" text="Nome da trilha" size="bigger" />

        <h2>Dificuldade</h2>
        <div class="options">
            <span class="selected">Facil</span>
            <span>Medio</span>
            <span>Dificil</span>
        </div>

        <h2>Escolaridade Destinada</h2>
        <div class="options">
            <span class="selected">Fundamental 1</span>
            <span>Fundamental 2</span>
        </div>

        <div class="buttons">
            <app-button buttonStyle="default" text="Limpar" />
            <app-button buttonStyle="disable" text="Confirmar" />
        </div>
    </div>
    }
    @else {
    <div class="forms">
        <p class="alert"><strong>Adicionar atividade para a trilha Tal</strong></p>
        <app-input mode="mode-1" text="Nome da Atividade" size="bigger" />

        <div class="activity">
            <h3>Adicionar uma atividade à trilha</h3>

            <div>
                <app-input mode="mode-1" placeholder="Lição n° ..." text="Título da lição" size="bigger" />
                <app-input mode="mode-1" placeholder="Intuito dessa atividade é trabalhar..." text="Resumo da atividade"
                    size="bigger" />
            </div>

            <div class="question-alternatives">
                <app-input mode="mode-1" placeholder="" text="Pergunta" size="bigger" />
                <app-input mode="mode-1" placeholder="" text="Alternativas (no máximo 5)" size="bigger" />
            </div>
        </div>

        <div class="buttons">
            <app-button buttonStyle="default" text="Limpar" />
            <app-button buttonStyle="disable" text="Confirmar" />
        </div>
    </div>

    <div class="trails">
        <h2>Escolha a Trilha</h2>
        <app-input size="all" mode="mode-1" placeholder="Pesquisar" />
        <app-trail />
        <app-trail />
        <app-trail />
    </div>
    }
</div>