<div class="content">
    <div class="options">
        <div>
            <span><a>Criar Trilha</a></span>
            <span><a>Adicionar Atividade</a></span>
        </div>
    </div>

    <div class="forms">
        <app-input text="Nome da trilha" size="bigger" />
        <app-input text="Nome do professor" size="medium" />

        <div class="activity">
            <h3>Adicionar uma atividade à trilha</h3>

            <div>
                <app-input placeholder="Lição n° ..." text="Título da lição" size="bigger" />
                <app-input placeholder="Intuito dessa atividade é trabalhar..." text="Resumo da atividade"
                    size="bigger" />
            </div>

            <div class="question-alternatives">
                <app-input placeholder="" text="Pergunta" size="bigger" />
                <app-input placeholder="" text="Alternativas (no máximo 5)" size="bigger" />
            </div>
        </div>

        <div class="buttons">
            <app-button [buttonType]="buttonType.Secondary" text="Resetar" />
            <app-button [buttonType]="buttonType.Primary" text="Confirmar" />
        </div>
    </div>

    <div class="trails">
        <h2>Trilhas Recentes</h2>
        <app-trail />
        <app-trail />
        <app-trail />
    </div>
</div>