<div class="content">
    <app-menu [data]="sectionsData" />

    @if (currentSection === "create-trail") {
    <div class="forms">
        <app-input mode="mode-1" text="Nome da trilha" size="bigger" [(property)]="newTrailData.name" />
        <app-input mode="textarea" text="Resumo da trilha" size="bigger" [(property)]="newTrailData.summarize" />

        <h2>Dificuldade</h2>
        <div class="difficulty">
            <span class="option" (click)="changeOption(0, 'difficulty')">Facil</span>
            <span class="option" (click)="changeOption(1, 'difficulty')">Medio</span>
            <span class="option" (click)="changeOption(2, 'difficulty')">Dificil</span>
        </div>

        <h2>Escolaridade Destinada</h2>
        <div class="schooling">
            <span class="option" (click)="changeOption(0, 'schooling')">Fundamental 1</span>
            <span class="option" (click)="changeOption(1, 'schooling')">Fundamental 2</span>
        </div>

        <div class="buttons">
            <app-button buttonStyle="default" text="Limpar" />
            <app-button [buttonStyle]="this.newTrailData.name !== '' && 
                                this.newTrailData.summarize !== '' &&
                                this.newTrailData.difficulty !== null && 
                                this.newTrailData.schooling !== null ? 'selected' : 'disable'" text="Confirmar"
                (event)="createTrail()" />
        </div>
    </div>
    }
    @else {
    <div class="forms">
        <div class="trails">
            @if (trailSelected !== null) {
            <app-left-arrow-icon fillColor="#FFFFFF" />
            <app-trail [isSelected]="true" [trail]="trailSelected" />
            }
            @else {
            @if (trailSelected !== null) {
            <app-trail [isSelected]="false" [trail]="trailSelected" />
            }
            @else {
            @if (trails !== null) {
            <h2>Escolha a Trilha</h2>
            <app-input size="all" mode="mode-1" placeholder="Pesquisar" [(property)]="trailToSearch" />
            <div class="contains-trails">
                @for (trail of trails; track trail) {
                <app-trail [isSelected]="false" [trail]="trail" (event)="selectTrail($event)" />
                }
            </div>
            }
            @else {
            <h2>Nenhuma Trilha Disponível</h2>
            }
            }
            }
        </div>

        <div class="activity">
            <div class="lesson-details">
                <app-input mode="mode-1" placeholder="Lição n° ..." text="Título da lição" size="all"
                    [(property)]="activity.title" />
                <app-input mode="mode-1" placeholder="Intuito dessa atividade é trabalhar..." text="Resumo da atividade"
                    size="all" [(property)]="activity.summarize" />

                <div class="resources">
                    <app-input mode="mode-1" placeholder="" text="Fontes para estudo" size="all" />
                    <app-button buttonStyle="small" text="Adicionar" width="max-content" (event)="addResources()" />

                    @for (item of activity.resources; track item) {
                    <span class="list">{{ item }}</span>
                    }
                </div>
            </div>

            <div>
                <app-input mode="textarea" text="Explicacao da materia" size="all"
                    [(property)]="activity.explanation" />
            </div>

            <div class="question-alternatives">
                <app-input mode="number" text="Peso da atividade" size="small" [(property)]="activity.weight" />

                <app-input mode="mode-1" placeholder="" text="Pergunta" size="all" [(property)]="activity.question" />
                <div id="alternatives-container" class="alternatives">
                    <app-input mode="mode-1" placeholder="" text="Alternativas (no máximo 5)" size="all" />
                    <app-button buttonStyle="small" text="Adicionar" width="max-content"
                        (event)="addAlternativesTemp()" />

                    @for (item of alternativesTemp; track item) {
                    <div class="contains-alternatives">
                        <span class="handle-right-response" (click)="handleRightResponse(alternativesTemp.indexOf(item))"></span>
                        <span class="alternative right-response">{{ item }}</span>
                    </div>
                    }

                </div>
            </div>
        </div>

        <div class="buttons">
            <app-button buttonStyle="default" text="Limpar" />
            <app-button buttonStyle="selected" text="Confirmar" (event)="addDataToTrail()" />
        </div>
    </div>
    }
</div>