.container {
    display: flex;
    align-items: center;
    gap: .5em;
}

.progress-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.5rem;

    border-radius: var(--border-radius-large);
}

.progress-value {
    position: absolute;

    font-size: var(--font-size-small);
    font-family: "Manrope-Bold";
    color: var(--color-text);

    background-color: transparent;
}

.disable {
    background-color: var(--color-secondary);
}