.container {
    display: flex;
    align-items: center;
    gap: .5em;

    width: max-content;
}

p {
    font-size: var(--font-size-very-tiny);
}

.progress-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.3rem;

    border-radius: var(--border-radius-large);
}

.progress-value {
    position: absolute;

    font-size: var(--font-size-very-tiny);
    font-family: "Manrope-Bold";
    color: var(--color-text);

    background-color: transparent;
}

.disable {
    background-color: var(--color-secondary);
}

@media (min-width: 768px) {
    p {
        font-size: var(--font-size-small);
    }
    
    .progress-value {
        padding: 1.5rem;

        font-size: var(--font-size-small);
    }
}