<div class="container">
    <div class="column-1">
        @for (lesson of activities; track lesson) {
            <app-lesson-link [data]="lesson" [currentTrailId]="currentTrailId" (event)="activitiesCompletedCounter()" />
        }
    </div>
    <div class="column-2">
        <div class="progress-container">
            <div>
                <div>
                    <span>Completos</span>
                    <span>{{ numberIndicator }}%</span>
                </div>
                <span class="bar">
                    <span class="progress {{ colorIndicator }}" [style.width.%]="numberIndicator"></span>
                </span>
            </div>
        </div>

        <app-ranking />
    </div>
</div>