.container {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.column-1 {
    background-color: var(--color-secondary);

    display: flex;
    flex-direction: column;
    gap: 1.5em;
    
    background-color: var(--color-secondary);

    padding: 1.5em;

    overflow: scroll
}

.column-2 { 
    flex-grow: 1;
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
    }

    .column-1 {
        width: 70%;
    }
}