<div class="container">
    <div class="column-1">
        <app-lesson-link mode="student" />
        <app-lesson-link mode="student" />
        <app-lesson-link mode="student" />
        <app-lesson-link mode="student" />
        <app-lesson-link mode="student" />
        <app-lesson-link mode="student" />
        <app-lesson-link mode="student" />
    </div>
    <div class="column-2">
        <div class="progress-container">
            <div>
                <div>
                    <span>Completos</span>
                    <span>70%</span>
                </div>
                <span class="bar">
                    <span class="progress orange" style="width: 70%;"></span>
                </span>
            </div>

            <div>
                <div>
                    <span>Completos</span>
                    <span>70%</span>
                </div>
                <span class="bar">
                    <span class="progress orange" style="width: 70%;"></span>
                </span>
            </div>
        </div>

        <app-ranking mode="mode-1" />
    </div>
</div>