.container {
    width: 100%;
    height: 100%;

    background-color: var(--color-ternary);

    border-radius: var(--border-radius-small);

    h3 {
        text-align: center;

        padding: .5em 0;
    }
}

canvas {
    max-height: 85%;
}