<div class="learning-progress">
    <h3>Progresso de Aprendizagem</h3>

    <div>
        <div>
            <span class="label">Tarefas Concluidas</span>
            <span class="bar">
                <span 
                    class="progress {{ dataFormatted.activitiesCompletedColorIndicator }}" 
                    [style.width.%]="dataFormatted.activitiesCompletedPercentage"
                    ></span>
            </span>
        </div>
        
        <div>
            <span class="label">Lições Visualizadas</span>
            <span class="bar">
                <span 
                    class="progress {{ dataFormatted.activitiesViewedColorIndicator }}" 
                    [style.width.%]="dataFormatted.activitiesViewedPercentage"
                    ></span>
            </span>
        </div>
        
        <div>
            <span class="label">Trilhas Completadas</span>
            <span class="bar">
                <span 
                    class="progress {{ dataFormatted.trailsCompletedColorIndicator }}" 
                    [style.width.%]="dataFormatted.trailsCompletedPercentage"
                    ></span>
            </span>
        </div>
    </div>
</div>