.learning-progress {
    display: none;
}

h3 {
    margin-bottom: 1rem;
}

.bar {
    display: block;
    width: 100%;
    height: 5px;
    margin-top: .5em;

    border-radius: var(--border-radius-medium);

    overflow: hidden;

    background-color: var(--color-secondary);
}

.progress {
    display: block;
    height: 5px;
}

.label {
    display: block;

    font-size: var(--font-size-very-tiny);
}

@media screen and (min-width: 1024px) {
    .learning-progress {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
 
        background-color: var(--color-ternary);

        border-radius: var(--border-radius-small);
        padding: 1em;

        width: 100%;
        max-width: 500px;
        height: 100%;
        
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: 75%;
            
            div {
                height: max-content;
            }
        }
    }
}