input,
textarea {
    border: none;
    border-radius: var(--border-radius-small);

    outline: none;

    padding: 0.5em 1em;
    color: var(--color-text);
}

span {
    width: max-content;
}

input::placeholder {
    font-size: var(--font-size-small);
}

.mode-1 {
    background-color: var(--color-ternary);
}

.mode-2 {
    background-color: var(--color-primary);
}

textarea {
    background-color: var(--color-ternary);

    height: 10rem;
    padding: 1rem;

    resize: none;
}

input[type="number"] {
    background-color: var(--color-ternary);
}

.all {
    width: 100%;
}

.bigger {
    width: 100%;
    min-width: 280px;
}

.medium {
    width: 100%;
}

.small {
    width: 100%;
}

.margin {
    margin: 1em 0 .5em;

    display: block;
}

.no-margin {
    margin: 0;

    display: block;
}

@media screen and (min-width: 767px) {
    .bigger {
        width: 70%;
        max-width: 900px;
    }

    .medium {
        width: 50%;
        max-width: 700px;
    }

    .small {
        width: 35%;
        max-width: 500px;
    }
}