<div class="container">
    <div class="filter">
        <div>
            <div>
                <span><a>Imcompletas</a></span>
                <span><a>Completas</a></span>
            </div>
        </div>
    </div>

    <div class="trails">
        <app-trail-activities />
        <app-trail-activities />
    </div>

    <div class="more-info">
        <div class="learning-progress">
            <h3>Progresso de Aprendizagem</h3>
        
            <div>
                <span class="label">Tarefas Concluidas</span>
                <span class="bar">
                    <span class="progress red" style="width: 70%;"></span>
                </span>
                <span class="label">Lições Visualizadas</span>
                <span class="bar">
                    <span class="progress orange" style="width: 60%;"></span>
                </span>
                <span class="label">Trilhas Completadas</span>
                <span class="bar">
                    <span class="progress green" style="width: 50%;"></span>
                </span>
            </div>
        </div>
    </div>
</div>