<div class="container">
    <div class="filter">
        <div>
            <div>
                <span><a>Imcompletas</a></span>
                <span><a>Completas</a></span>
            </div>
        </div>
    </div>

    <div class="trails">
        <app-trail-activities />
        <app-trail-activities />
        <app-trail-activities />
        <app-trail-activities />
        <app-trail-activities />
        <app-trail-activities />
        <app-trail-activities />
    </div>

    <div class="more-info">
        <app-learning-progress />

        <div class="not-viewed">
            <h3>Atividades não visualizadas</h3>

            <div>
                <h4>Lorem ipsum dolor</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, voluptatibus.</span>
                <span style="margin-top: 1em;">15 / 04</span>
            </div>
            <div>
                <h4>Lorem ipsum dolor</h4>
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, voluptatibus.</span>
                <span style="margin-top: 1em;">15 / 04</span>
            </div>
                <div>
                    <h4>Lorem ipsum dolor</h4>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, voluptatibus.</span>
                    <span style="margin-top: 1em;">15 / 04</span>
                </div>
        </div>
    </div>
</div>