<div class="container">
    <div class="title">
        <h2>Classificação</h2>
    </div>

    <div class="ranking">
        <div class="top">
            <div>
                <span class="score">
                    <app-points-icon color="gold" width="25" />
                    1500
                </span>
                <div class="photo">
                    <span class="classification">2</span>
                </div>
                <p class="name">Marcos<br>Segantine</p>
            </div>
            <div class="top-1">
                <span class="score">
                    <app-points-icon color="gold" width="25" />
                    1500
                </span>
                <div class="photo">
                    <span class="classification">1</span>
                </div>
                <p class="name">Marcos<br>Segantine</p>
            </div>
            <div>
                <span class="score">
                    <app-points-icon color="gold" width="25" />
                    1500
                </span>
                <div class="photo">
                    <span class="classification">3</span>
                </div>
                <p class="name">Marcos<br>Segantine</p>
            </div>
        </div>

        <div class="bottom">
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <div class="score">
                    <app-points-icon color="white" width="30" />
                    <span>1000</span>
                </div>
            </div>
        </div>
    </div>
</div>