<div class="container">
    <div class="links">
        @if(userData?.userType == "professional") {
        <app-button text="Chamada" [buttonType]="buttonType.Primary" width="max-content" />
        }
        <app-button text="Pesquisar por aluno" [buttonType]="buttonType.Secondary" width="max-content" />
    </div>

    @if(userData?.userType == "professional") {

    @if(currentPage == "page-1") {
    <div class="page page-1">
        <div class="title">
            <h1>Chamada</h1>
            <img src="/assets/icons/reset.svg" alt="">
        </div>


        <div class="students">
            <div class="class-info">
                <h3>Djalma - Turma 1</h3>

                <app-button text="Mudar Turma" [buttonType]="buttonType.Primary" width="max-content" />
            </div>
            <div class="student">
                <h4>Marcos Segantine</h4>

                <div>
                    <span class="button green">Presente</span>
                    <span class="button red">Ausente</span>
                </div>
            </div>
            <div class="student">
                <h4>Marcos Segantine</h4>

                <div>
                    <span class="button green">Presente</span>
                    <span class="button red">Ausente</span>
                </div>
            </div>
            <div class="student">
                <h4>Marcos Segantine</h4>

                <div>
                    <span class="button green">Presente</span>
                    <span class="button red">Ausente</span>
                </div>
            </div>
        </div>
    </div>
    } @else {
    <div class="page page-2 search-student">
        <h1>Pesquisar por aluno</h1>
        <app-input placeholder="Nome do aluno" mode="mode-1" size="all" />

        <app-button text="Confirmar" [buttonType]="buttonType.Primary" width="max-content" />
    </div>
    }

    } @else if(userData?.userType == "institution") {
    @if(currentPage == "page-1") {
    <div class="page page-1 search-student">
        <h1>Pesquisar por aluno</h1>
        <app-input placeholder="Nome do aluno" mode="mode-1" size="all" />

        <app-button text="Confirmar" [buttonType]="buttonType.Primary" width="max-content" />
    </div>
    }
    }
</div>