<div class="container">
    <div class="line-1">
        <div class="greeting">
            <div class="logo"></div>
            <div class="text">
                <h1>Greeting [Name]</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates quisquam vel accusantium
                    asperiores quae explicabo laborum libero. Blanditiis, consectetur adipisci!</p>
            </div>
            <div class="image"></div>
        </div>

        <app-learning-progress />
    </div>

    <div class="line-2">
        <div class="chart">
            <h2>Eficiência de Aprendizagem</h2>
            <div class="graphic"></div>

            <div class="descriptions">
                <div class="description">
                    <h3 class="value-indicator orange">3,1h</h3>
                    <div>
                        <h4>Tempo médio de apredizado</h4>
                        <span>Indicator tem aumentado</span>
                    </div>
                </div>
                <div class="description">
                    <h3 class="value-indicator red">3,1h</h3>
                    <div>
                        <h4>Tempo médio de apredizado</h4>
                        <span>Indicator tem aumentado</span>
                    </div>
                </div>
                <div class="description">
                    <h3 class="value-indicator green">3,1h</h3>
                    <div>
                        <h4>Tempo médio de apredizado</h4>
                        <span>Indicator tem aumentado</span>
                    </div>
                </div>
                <div class="description">
                    <h3 class="value-indicator green">3,1h</h3>
                    <div>
                        <h4>Tempo médio de apredizado</h4>
                        <span>Indicator tem aumentado</span>
                    </div>
                </div>
            </div>
        </div>

        <app-not-viewed />
    </div>

    <div class="line-3">
        <div class="trial">
            <div class="info">
                <div class="image"></div>
                <div>
                    <h3>Lorem ipsum dolor sit.</h3>
                    <span>Começou dia 20 / 11</span>
                </div>
            </div>
            <div class="indicators">
                <span>Progresso</span>
                <span class="bar">
                    <span class="progress orange" style="width: 70%;"></span>
                </span>
                <span>Tarefas completadas</span>
                <span class="bar">
                    <span class="progress green" style="width: 70%;"></span>
                </span>
            </div>
        </div>
        <div class="trial">
            <div class="info">
                <div class="image"></div>
                <div>
                    <h3>Lorem ipsum dolor sit.</h3>
                    <span>Começou dia 20 / 11</span>
                </div>
            </div>
            <div class="indicators">
                <span>Progresso</span>
                <span class="bar">
                    <span class="progress orange" style="width: 70%;"></span>
                </span>
                <span>Tarefas completadas</span>
                <span class="bar">
                    <span class="progress green" style="width: 70%;"></span>
                </span>
            </div>
        </div>
        <div class="trial">
            <div class="info">
                <div class="image"></div>
                <div>
                    <h3>Lorem ipsum dolor sit.</h3>
                    <span>Começou dia 20 / 11</span>
                </div>
            </div>
            <div class="indicators">
                <span>Progresso</span>
                <span class="bar">
                    <span class="progress orange" style="width: 70%;"></span>
                </span>
                <span>Tarefas completadas</span>
                <span class="bar">
                    <span class="progress green" style="width: 70%;"></span>
                </span>
            </div>
        </div>
    </div>
</div>