<div class="not-viewed">
    <h3>Atividades não visualizadas</h3>

    <div>
        <h4>Lorem ipsum dolor</h4>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, voluptatibus.</span>
        <span style="margin-top: 1em;">15 / 04</span>
    </div>
    <div>
        <h4>Lorem ipsum dolor</h4>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, voluptatibus.</span>
        <span style="margin-top: 1em;">15 / 04</span>
    </div>
    <div>
        <h4>Lorem ipsum dolor</h4>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, voluptatibus.</span>
        <span style="margin-top: 1em;">15 / 04</span>
    </div>
</div>