.not-viewed {
    display:  none;

    background-color: var(--color-ternary);

    border-radius: var(--border-radius-small);

    width: 100%;
    max-width: 400px;
    height: 100%;
    padding: 1em;

    h3 {
        margin-bottom: 1em;
    }

    div {
        border-radius: var(--border-radius-small);

        padding: .5em;
    }

    div:hover {
        background-color: var(--color-secondary);
    }

    span {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .not-viewed {
        display: block;
    }
}