.not-viewed {
    display: none;

    background-color: var(--color-ternary);

    border-radius: var(--border-radius-small);

    width: 100%;
    max-width: 400px;
    height: 100%;
    padding: 1em;

    h3 {
        margin-bottom: .5em;
    }

    div {
        border-radius: var(--border-radius-small);

        height: calc(100% / 3 - .5em);
        padding: .5em;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    div:hover {
        background-color: var(--color-secondary);
    }

    span {
        display: block;
        font-size: var(--font-size-very-tiny);
    }
}

@media screen and (min-width: 1024px) {
    .not-viewed {
        display: block;
    }
}