<main>
    <div class="container">

        <app-auth-option option="Sou Aluno" [priority]="options.High" [userType]="userType.Student"></app-auth-option>
        <app-auth-option option="Sou Responsável" [priority]="options.High" [userType]="userType.Parents"></app-auth-option>
        <app-auth-option option="Matriz" [priority]="options.Low" [userType]="userType.Matrix"></app-auth-option>
        <app-auth-option option="Instituto" [priority]="options.Low" [userType]="userType.Institutional"></app-auth-option>
        <app-auth-option option="Professor" [priority]="options.Low" [userType]="userType.Professor"></app-auth-option>
    </div>
</main>