.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    width: 100%;
    min-width: 300px;
    min-height: 30rem;
}

app-auth-option {
    width: 100%;
    height: min-content;
}

@media screen and (min-width: 767px) {
    .container {
        width: 90%;
        max-width: 1000px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    app-auth-option {
        width: calc(50% - 1em);
        height: calc(100% - 10% - 1em);
    }
}