<div class="container">
    <div class="content">
        <div class="column-1">
            <div class="row-1">
                <div>
                    <h4>Taxa de retenção</h4>
                    <span>80%</span>
                </div>
                <div>
                    <h4>Taxa de alunos com dificuldade</h4>
                    <span>80%</span>
                </div>
                <div>
                    <h4>Nota média por aluno</h4>
                    <span>80</span>
                </div>
            </div>

            <div class="row-2">
                <canvas id="chart-1"></canvas>
            </div>
            <div class="row-3">
                <app-platform-use />
                <app-frequency />
            </div>
        </div>
        <div class="column-2">
            <app-students-low-performance />
            <app-ranking />
        </div>
    </div>
</div>