.trail {
    background-color: var(--color-ternary);

    padding: 1em;

    border-radius: var(--border-radius-small);

    cursor: pointer;

    h3 {
        margin-bottom: .8em;
    }

    span {
        display: block;

        color: var(--color-orange);
        font-size: .8rem;

        width: max-content;
        padding: .5em;
        margin: .3em 0;

        border-radius: var(--border-radius-medium);

        background-color: var(--color-secondary);
    }

    p {
        font-size: var(--font-size-tiny);
    }
}

.trail:hover {
    background-color: var(--color-primary);
}

.selected {
    border: solid 1px;
    border-color: var(--color-orange);
}