.trail {
    background-color: var(--color-ternary);

    padding: 1em;

    border-radius: var(--border-radius-small);

    cursor: pointer;

    h3 {
        margin-bottom: .8em;
    }

    p {
        font-size: var(--font-size-tiny);
    }
}

.trail:hover {
    background-color: var(--color-primary);
}

.selected {
    border: solid 1px;
    border-color: var(--color-orange);
}
