.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: var(--sidebar-height);
}

app-sidebar {
    height: 100%;
}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }

    app-sidebar {
        height: max-content;
        
        position: relative;
    
        width: 100%;
    }
}