.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;

    height: var(--sidebar-height);
}

app-sidebar {
    height: 100%;
    width: 5rem;
}

.page {
    height: 100%;
    width: calc(100% - 6rem);
}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }

    app-sidebar {
        height: max-content;
        width: 100%;

        position: relative;
    }

    .page {
        padding-top: 3.5em;
        width: 100%;
    }
}