.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    background-color: var(--color-ternary);

    border-radius: var(--border-radius-small);

    width: 100%;
    padding: 1em;
}

.container:hover {
    background-color: var(--color-secondary);
}

.image-score {
    .image {
        width: 6rem;
        height: 6rem;

        border-radius: var(--border-radius-large);

        background-color: var(--color-secondary);
    }
}

.info {
    width: 100%;

    p {
        border-bottom-color: var(--color-primary);
        border-bottom-width: 4px;
        border-bottom-style: solid;

        padding-bottom: 2em;
        margin-bottom: 1em;

        overflow: hidden;
        
        text-overflow: ellipsis;
        white-space: nowrap;

        max-width: 90%;
    }

    div {
        display: flex;
        align-items: center;
        gap: 2em;
    }
}


.info span:nth-child(2) {
    display: block;

    margin: .5em 0 1em;
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
        align-items: start;
    }
}