.container {
    width: 100%;
    height: 100%;
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em;

    width: 100%;
    margin-bottom: 3em;
}

.page-1,
.page-2 {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.students-searched {
    width: 100%;
}

.students-searched > div {
    background-color: var(--color-secondary);
    
    border-radius: var(--border-radius-small);

    padding: 1rem;
    width: 100%;
    max-width: 700px;

    h4 {
        margin-bottom: 1rem;
    }

    p {
        display: block;
        
        margin: .3rem 0;
    }
}

.page-3 .content {
    
    h2 {
        margin-top: 1em;    
    }

    span {
        font-family: var(--font-family-medium);
        font-size: var(--font-size-tiny);
    
        background-color: var(--color-ternary);
    
        padding: .5em;

        border-radius: var(--border-radius-small);
    }
    
    span.selected {
        background-color: var(--color-orange);
        color: var(--color-black);
    }
    
    span:hover {
        cursor: pointer;
    }

    .schools,
    .schooling,
    .schedule-class {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        padding-top: 1em;
    }
    
    .schooling {

    }
    
    .schedule-class {

    }
}

.buttons {
    display: flex;
    gap: 1em;
    
    margin-top: 3em;
}

.search-student {
    align-items: end;

    h1,
    app-input {
        width: 100%;
    }
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 4em;

    img {
        width: 35px;
        height: 35px;

        cursor: pointer;
    }
}

.class-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2em;
}

.students {
    display: flex;
    flex-direction: column;
    gap: 1em;

    padding: 1em;

    border-radius: var(--border-radius-small);

    background-color: var(--color-ternary);

    .student {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-style: solid;
        border-width: .1px;
        border-color: var(--color-gray);

        width: 100%;
        padding: 1em;

        border-radius: var(--border-radius-small);

        .button {
            border-radius: var(--border-radius-small);

            padding: .5em 1em;
            margin: 0 .2em;

            font-family: var(--font-family-bold);
            font-size: var(--font-size-very-tiny);

            color: var(--color-text);
            
            cursor: pointer;
        }
    }

    .student:hover {
        background-color: var(--color-secondary);
    }
}

.green {
    background-color: var(--color-green);
}

.red {
    background-color: var(--color-red);
}

@media screen and (min-width: 767px) {
    .students {
        .student {
            .button {
                font-size: var(--font-size-small);

                margin: 0 .5em;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .search-student {
        width: 60%;
    }
}