<div class="container">
    <div class="links">
        <app-button text="Chamada" [buttonType]="currentPage == 'page-1' ? buttonType.Primary : buttonType.Secondary"
            width="max-content" (event)="changeSection('page-1')" />
        <app-button text="Pesquisar por aluno"
            [buttonType]="currentPage == 'page-2' ? buttonType.Primary : buttonType.Secondary" width="max-content"
            (event)="changeSection('page-2')" />
        <app-button text="Cadastrar aluno"
            [buttonType]="currentPage == 'page-3' ? buttonType.Primary : buttonType.Secondary" width="max-content"
            (event)="changeSection('page-3')" />
    </div>

    @if(currentPage == "page-1") {
    <div class="page page-1">
        <div class="title">
            <h1>Chamada</h1>
            <img src="/assets/icons/reset.svg" alt="">
        </div>

        <div class="students">
            <div class="class-info">
                <h3>Djalma - Turma 1</h3>

                <app-button text="Mudar Turma" [buttonType]="buttonType.Primary" width="max-content" />
            </div>
            <div class="student">
                <h4>Marcos Segantine</h4>

                <div>
                    <span class="button green">Presente</span>
                    <span class="button red">Ausente</span>
                </div>
            </div>
            <div class="student">
                <h4>Marcos Segantine</h4>

                <div>
                    <span class="button green">Presente</span>
                    <span class="button red">Ausente</span>
                </div>
            </div>
            <div class="student">
                <h4>Marcos Segantine</h4>

                <div>
                    <span class="button green">Presente</span>
                    <span class="button red">Ausente</span>
                </div>
            </div>
        </div>
    </div>
    } @else if(currentPage == "page-2") {
    <div class="page page-2 search-student">
        <h1>Pesquisar por aluno</h1>
        <app-input placeholder="Nome do aluno" mode="mode-1" size="all" />

        <app-button text="Confirmar" [buttonType]="buttonType.Primary" width="max-content" (event)="getStudentData()" />
    </div>
    }
    @else {
    <div class="page page-3">
        <h1>Cadastrar aluno</h1>

        <div class="content">
            <app-input placeholder="Nome" mode="mode-1" size="medium" />
            <h2>Escola: </h2>
            <div class="schools">
                <span class="selected">Djalma</span>
                <span>M. Aparecida</span>
                <span>Teodoro</span>
                <span>Rosemir</span>
            </div>

            <h2>Escolaridade: </h2>
            <div class="schooling">
                <span>Fundamental 1</span>
                <span>Fundamental 2</span>
            </div>

            <h2>Turma: </h2>
            <div class="schedule-class">
                <span>Primeiro horário</span>
                <span>Segundo horário</span>
                <span>Terceiro horário</span>
                <span>Quarto horário</span>
            </div>

            <div class="buttons">
                <app-button text="Confirmar" [buttonType]="buttonType.Primary" width="max-content"
                    (event)="createStudent()" />
                <app-button text="Cancelar" [buttonType]="buttonType.Secondary" width="max-content" />
            </div>
        </div>
    </div>
    }
</div>