$color-light-primary: #EFEFEF;
$color-light-secondary: #F2F3F5;
$color-light-ternary: #FFFFFF;

$color-dark-primary: #292B2F;
$color-dark-secondary: #2E3036;
$color-dark-ternary: #37393F;
$header-height: 5rem;

:root {
    --color-red: #C3331D;
    --color-orange: #FFB500;
    --color-green: #00BA4A;
    --color-black: #292B2F;
    --color-dark: #37393F;

    --header-height: #{$header-height};
    --sidebar-height: calc(100vh - #{$header-height});

    --border-radius-small: 10px;
    --border-radius-medium: 20px;
}

@mixin lighten() {
    --bg-color: #{$color-light-primary};
    --color-text: #000000;
    --color-primary: #{$color-light-primary};
    --color-secondary: #{$color-light-secondary};
    --color-ternary: #{$color-light-ternary};
}

@mixin darken() {
    --bg-color: #{$color-dark-primary};
    --color-text: #FFFFFF;
    --color-primary: #{$color-dark-primary};
    --color-secondary: #{$color-dark-secondary};
    --color-ternary: #{$color-dark-ternary};
}

body.light {
    @include lighten();
}

body.dark {
    @include darken();
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--color-text);

    app-root {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        min-height: 100vh;
    }
}

router-outlet {
    position: absolute;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    min-height: 35vh;
    padding: 2em;

    background-color: var(--bg-color);
}

@font-face {
    font-family: "Manrope-Bold";
    src: url("/assets/fonts/Manrope-Bold.ttf");
}

@font-face {
    font-family: "Manrope-Regular";
    src: url("/assets/fonts/Manrope-Regular.ttf");
}

@font-face {
    font-family: "Manrope-Medium";
    src: url("/assets/fonts/Manrope-Medium.ttf");
}

h1,
h2,
h3 {
    font-family: "Manrope-Bold";
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

p {
    font-family: "Manrope-Medium";
    font-size: 1rem;
}

input {
    font-family: "Manrope-Bold";
    font-size: 1.17rem;
}

button {
    font-family: "Manrope-Bold";
}

span {
    font-family: "Manrope-Regular";
    font-size: 0.92rem;
}

a {
    text-decoration: none;
    color: currentColor;
    font-family: 'Manrope-Bold';
}

li {
    list-style: none;
}