$color-light-primary: #EFEFEF;
$color-light-secondary: #F2F3F5;
$color-light-ternary: #FFFFFF;

$color-dark-primary: #292B2F;
$color-dark-secondary: #2E3036;
$color-dark-ternary: #37393F;
$header-height: 6rem;

:root {
    --color-red: #C3331D;
    --color-orange: #FFB500;
    --color-green: #00BA4A;
    --color-red-opacity: rgba(195, 51, 29, .5);
    --color-orange-opacity: rgba(255, 181, 0, .5);
    --color-green-opacity: rgba(0, 186, 74, .5);
    --color-black: #292B2F;
    --color-dark: #37393F;
    --color-gray: #808080;

    --header-height: #{$header-height};
    --sidebar-height: calc(100vh - 2em - 1rem - #{$header-height});

    --border-radius-tiny: 5px;
    --border-radius-small: 10px;
    --border-radius-medium: 20px;
    --border-radius-large: 50%;

    --font-size-very-tiny: 0.8em;
    --font-size-tiny: 0.92em;
    --font-size-small: 1em;
    --font-size-medium: 1.10em;
    --font-size-large: 1.5em;
    --font-size-very-large: 2em;

    --font-family-bold: "Manrope-Bold";
    --font-family-regular: "Manrope-Regular";
    --font-family-medium: "Manrope-Medium";
}

@mixin lighten() {
    --bg-color: #{$color-light-primary};
    --color-text: #000000;
    --color-primary: #{$color-light-primary};
    --color-secondary: #{$color-light-secondary};
    --color-ternary: #{$color-light-ternary};
}

@mixin darken() {
    --bg-color: #{$color-dark-primary};
    --color-text: #FFFFFF;
    --color-primary: #{$color-dark-primary};
    --color-secondary: #{$color-dark-secondary};
    --color-ternary: #{$color-dark-ternary};
}

@font-face {
    font-family: "Manrope-Bold";
    src: url("/assets/fonts/Manrope-Bold.ttf");
}

@font-face {
    font-family: "Manrope-Regular";
    src: url("/assets/fonts/Manrope-Regular.ttf");
}

@font-face {
    font-family: "Manrope-Medium";
    src: url("/assets/fonts/Manrope-Medium.ttf");
}

body.light {
    @include lighten();
}

body.dark {
    @include darken();
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--color-text);

    app-root {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        min-height: 100vh;
    }
}

router-outlet {
    position: absolute;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    min-height: 35vh;
    padding: 2em 1em 0;

    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4 {
    font-family: "Manrope-Bold";
}

h1 {
    font-size: var(--font-size-very-large);
}

h2 {
    font-size: var(--font-size-large);
}

h3 {
    font-size: var(--font-size-medium);
}

h4 {
    font-size: var(--font-size-small);
}

p {
    font-family: "Manrope-Medium";
    font-size: var(--font-size-small);
}

input {
    font-family: "Manrope-Bold";
    font-size: var(--font-size-medium);
}

button {
    font-family: "Manrope-Bold";
}

span {
    font-family: "Manrope-Regular";
    font-size: var(--font-size-tiny);
}

a {
    text-decoration: none;
    color: currentColor;
    font-family: 'Manrope-Bold';
}

li {
    list-style: none;
}
