<div class="container">
    <div class="title">
        <h2>Ranking</h2>

    </div>

    <div class="ranking">
        <div class="top">
            <div>
                <span class="score">1500</span>
                <div class="photo">
                    <span class="classification">2</span>
                </div>
                <p class="name">Marcos<br>Segantine</p>
            </div>
            <div class="top-1">
                <span class="score">1500</span>
                <div class="photo">
                    <span class="classification">1</span>
                </div>
                <p class="name">Marcos<br>Segantine</p>
            </div>
            <div>
                <span class="score">1500</span>
                <div class="photo">
                    <span class="classification">3</span>
                </div>
                <p class="name">Marcos<br>Segantine</p>
            </div>
        </div>

        <div class="bottom">
            <div>
                <div>
                    <span class="classification">4</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <span>1000</span>
            </div>
            <div>
                <div>
                    <span class="classification">5</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <span>1000</span>
            </div>
            <div>
                <div>
                    <span class="classification">6</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <span>1000</span>
            </div>
            <div>
                <div>
                    <span class="classification">7</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <span>1000</span>
            </div>
            <div>
                <div>
                    <span class="classification">8</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <span>1000</span>
            </div>
            <div>
                <div>
                    <span class="classification">9</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <span>1000</span>
            </div>
            <div>
                <div>
                    <span class="classification">10</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <span>1000</span>
            </div>
            <div>
                <div>
                    <span class="classification">11</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <span>1000</span>
            </div>
            <div>
                <div>
                    <span class="classification">12</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <span>1000</span>
            </div>
            <div>
                <div>
                    <span class="classification">13</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <span>1000</span>
            </div>
            <div>
                <div>
                    <span class="classification">14</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <span>1000</span>
            </div>
            <div>
                <div>
                    <span class="classification">15</span>
                    <div class="photo"></div>
                    <span class="name">Marcos Segantine</span>
                </div>
                <span>1000</span>
            </div>
        </div>
    </div>
</div>