.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    
    background-color: var(--color-ternary);

    width: 100%;
    min-height: 75%;
    padding: 2em;

    border-radius: var(--border-radius-small);

    .auth-side {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .flag-side {
        width: 100%;
        min-height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        
        text-align: center;
        
        img {
            width: 100%;
            max-width: 20em;

            border: solid 1px;
            border-color: var(--color-dark-primary);
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        gap: 1em;

        align-self: flex-end;

        width: min-content;
    }

    .helpers {
        color: var(--color-orange);
        
        display: flex;
        
        margin: .5rem 0 1.5em;
    }

    .helpers a {
        filter: opacity(.7);
        transition: all .2s;
        
        font-size: var(--font-size-tiny);
    }

    .helpers a:hover {
        filter: opacity(1);
    }
}

@media screen and (min-width: 767px) {
    .container {
        max-width: 750px;
        min-height: 50%;
        
        .flag-side {
            width: 45%;
            height: auto;
        
            img {
                max-width: 15em;
            }
        }
    }
}