<div class="container">
    <div class="column-1">
        <h1>Lição 10: Lorem ipsum dolor sit.</h1>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita obcaecati neque nobis veniam qui illo nihil accusamus laboriosam, maiores suscipit.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, incidunt blanditiis facere minima quos in.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam iure tenetur molestiae, inventore porro nisi neque amet autem vel eligendi qui sunt rem praesentium cumque aperiam obcaecati distinctio veritatis ex voluptas. Deserunt vitae consectetur quis dolore. Iure inventore natus modi.</p>
        
        <app-lesson-description mode="institutional" />
    </div>

    <div class="column-2"></div>
</div>